@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900 text-slate-200;
}

/* Custom Scrollbar for large files */
textarea::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
textarea::-webkit-scrollbar-track {
  background: #1e293b;
}
textarea::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 5px;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
